# Project Name
COMPOSE_PROJECT_NAME=private-cloud-resource-manager

FRONTEND_PORT=3000

# --- Database  ---
POSTGRES_USER=pcrm_dev
POSTGRES_PASSWORD=pcrm_dev
POSTGRES_DB=pcrm_dev
POSTGRES_PORT=5432

# --- MinIO  ---
MINIO_ROOT_USER=pcrm_dev
MINIO_ROOT_PASSWORD=pcrm_dev
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- Nomad ---
NOMAD_HTTP_PORT=4646
NOMAD_RPC_PORT=4647
NOMAD_SERF_PORT=4648

# --- Backend  ---
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=dev

DATABASE_URL="jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}"
DATABASE_USERNAME="${POSTGRES_USER}"
DATABASE_PASSWORD="${POSTGRES_PASSWORD}"

NOMAD_BASE_URL="http://nomad:${NOMAD_HTTP_PORT}"
NOMAD_SYNC_ENABLED=true
NOMAD_SYNC_INTERVAL_MS=30000
NOMAD_SYNC_STALE_TIMEOUT_SEC=120
NOMAD_WORKLOAD_TEMPLATE_PATH=nomad/job-template.hcl

CORS_ALLOWED_ORIGINS="http://localhost:${FRONTEND_PORT}"
JWT_PUBLIC_KEY_PATH=secrets/public.pem
JWT_PRIVATE_KEY_PATH=secrets/private.pem
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

QUOTA_LEASE_MINUTES=15
SCHEDULER_DISPATCH_INTERVAL_MS=3000
SCHEDULER_BASE_QUANTUM=25
SCHEDULER_AGE_BOOST_PER_MINUTE=2

EVENTS_OUTBOX_ENABLED=true
EVENTS_OUTBOX_POLL_INTERVAL_MS=1000
EVENTS_OUTBOX_BATCH_SIZE=25
EVENTS_OUTBOX_CLAIM_TIMEOUT_MS=60000
EVENTS_OUTBOX_RETRY_DELAY_MS=5000
EVENTS_OUTBOX_WORKER_NAME=backend-local

STORAGE_S3_ENDPOINT="http://minio:${MINIO_API_PORT}"
STORAGE_S3_ACCESS_KEY="${MINIO_ROOT_USER}"
STORAGE_S3_SECRET_KEY="${MINIO_ROOT_PASSWORD}"
STORAGE_S3_REGION="us-east-1"
STORAGE_S3_BUCKET="job-artifacts"
STORAGE_S3_PATH_STYLE_ACCESS=true
STORAGE_S3_PRESIGN_UPLOAD_TTL_SEC=900
STORAGE_S3_PRESIGN_DOWNLOAD_TTL_SEC=900

# --- Frontend ---
NODE_ENV=development

NEXT_PUBLIC_BACKEND_URL="http://backend:${BACKEND_PORT}"
NEXT_JWT_EXPIRATION_MS="${JWT_EXPIRATION_MS}"
NEXT_PUBLIC_NOMAD_SYNC_INTERVAL_MS="${NOMAD_SYNC_INTERVAL_MS}"
