# Project Name
COMPOSE_PROJECT_NAME=pcrm

# --- Database  ---
POSTGRES_USER=pcrm_dev
POSTGRES_PASSWORD=pcrm_dev
POSTGRES_DB=pcrm_dev
POSTGRES_PORT=5432

# --- Broker  ---
BROKER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
BROKER_DB_URL=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}
BROKER_DB_USERNAME=${POSTGRES_USER}
BROKER_DB_PASSWORD=${POSTGRES_PASSWORD}

# --- Redis  ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- MinIO  ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- HashiCorp Nomad ---
NOMAD_HTTP_PORT=4646
NOMAD_RPC_PORT=4647
NOMAD_SERF_PORT=4648
